//
// Base
//




// Body
body {
	background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

// Page Wrapper
.kt-body {
	background-color: $kt-page-content-bg-color;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.02);

	@include kt-rounded {
		border-bottom-left-radius: $kt-border-radius;
		border-bottom-right-radius: $kt-border-radius;
		border-top-right-radius: $kt-border-radius;
	}
}

// Page Fixed Mode(above $kt-page-container-width)
@include kt-page-fixed-mode {
	// Container
	.kt-container {
		width: $kt-page-container-width !important;
	}

	// Page Fluid 
	.kt-page--fluid {
		.kt-container {
			width: auto !important;
			margin: 0 $kt-page-fluid-container-padding;
    		flex-grow: 1;
			padding: 0;
		} 
	}
}

// Page fluid mode(below $kt-page-container-width)
@include kt-page-fluid-mode {
	// Body
	body {
		background: $kt-page-body-bg-color;
	}

	// Container
	.kt-container {
		flex-grow: 1;
		width: auto !important;
		margin: 0 30px;
	}
}

// Desktop
@include kt-desktop() {
	// Fixed Header
	body {

		// Fixed Header
		&.kt-header--fixed {
			padding-top: kt-get($kt-header-config, base, desktop, self, default, height);
		}
	}
}

// Tablet & Mobile Mode(1024px and below)
@include kt-tablet-and-mobile() {
	// Body 
	body {
		// Fixed Header
		&.kt-header-mobile--fixed {
			padding-top: kt-get($kt-header-config, base, mobile, self, default, height);
		}
	}

	// Page Wrapper
	.kt-body {
		@include kt-rounded {
			border-top-left-radius: $kt-border-radius;
			border-top-right-radius: $kt-border-radius;
		}

		
	}

	// Container
	.kt-container {
		margin: 0 kt-get($kt-page-padding, mobile);
		padding: 0;
	}
}